<div class="carlist">
  <mat-card *ngFor="let car of cars, let i=index;" class="carlist-item" (click)="onCarClick(car.id)">
    {{car.id}} - {{car.plates}}
    <div class="carlist-item__location">
      <span *ngIf="car.location">{{car.location.lon}} - {{car.location.lat}}</span>
      <span *ngIf="!car.location">unknown</span>
    </div>
  </mat-card>
</div>
