<div class="login">
  <mat-card class="login-card"
            [ngClass]="{'login--failed': loginFailed}">
    <div class="login-info"
         [ngClass]="{'login-info--failed': loginFailed}">
      <div *ngIf="loginFailed">
        Incorrect, please try again.
      </div>
      email = email@email.com
      <br> password = password
    </div>
    <form #f="ngForm"
      (ngSubmit)="loginRequest()"
      [ngClass]="{

      }"
    >
      <mat-form-field>
        <input matInput
               placeholder="email"
               name="email"
               type="email"
               [(ngModel)]="data.email"
               required
               >

      </mat-form-field>
      <br/>
      <mat-form-field>
        <input matInput
               name="password"
               type="password"
               placeholder="password"
               [(ngModel)]="data.password"
               required>
      </mat-form-field>
      <br/>
      <button mat-raised-button>
        Login
      </button>
    </form>
  </mat-card>
</div>
