.login {
    display: flex;
    justify-content: center;
    min-width: 250px;
}

.login--failed {
    background-color: #ff7777;
}

.login-card {
    margin: 2em;
}

.login-info {
    margin: 10px;
}

.login-info-failed {
    color: red;
}

input.ng-touched.ng-invalid {
  border-color: red;
  color: #ff5555;
}
