<mat-toolbar>
  <span>Transport Plus Ltd.</span>
  <span class="toolbar__flex-fill">&nbsp;</span>
  <span>
    <a mat-button *ngIf="!isLoggedIn()" routerLink="/login">login</a>
    <button mat-button *ngIf="isLoggedIn()" (click)="logOut()">logout</button>
  </span>
</mat-toolbar>
