/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~reset-css/sass/reset";
@media screen {
    html,
    body {
        height: 100%;
    }
}


html, body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 1em;
}
