<div *ngIf="car"
     class="car">
     <a mat-button class="car__close-button"
      [routerLink]="['/cars']"
     >close</a>
  <h1>{{car.plates}}</h1>
  <p>{{car.model}}</p>
  <p>{{car.make}}</p>
   Location:
  <br>
  <p *ngIf="car.location">
    {{car.location.lat}} - {{car.location.lon}}
  </p>
  <p *ngIf="!car.location">Unknown</p>
</div>
